.map {
    position: relative;
    width:1076px;
    max-width:100%;
    margin:0 auto;
    overflow: hidden;

    &__image {
        display:block;
        width:100%;
        filter:drop-shadow(0 0 .5rem $col-border-primary);
    }

    &__label {
        position: absolute;
        width:20rem;
        font-size:1.3rem;

        display:flex;
        align-items:center;

        &--flip {
            flex-direction:row-reverse;
        }
        

        &--animate {
            opacity:0;
            transform:translateY(4rem);
            @for $i from 1 through 10 {
                &:nth-of-type(#{$i}) {
                    animation:fade-up .5s cubic-bezier(0.34, 1.5, 0.64, 1) forwards;
                    animation-delay:#{$i * .2s};
                    opacity:0;
                    transform:translateY(4rem);
                }
            }
        }
    }

    &__label-image {
        display:block;
        width:2.2rem;
        height:auto;
        margin-right:1rem;
        filter:drop-shadow(1px 1px 2px #000);

        @include respond(768) {
            width:1.6rem;
        }
    }

    &__label--flip &__label-image {
        margin-right:0;
        margin-left:1rem;
    }

    &__label-text {
        padding:.3rem 1rem;
        border:.2rem solid $col-border-primary;
        @include card(rgba($col-background-3, .9));
        box-shadow: inset 0px 0px 1rem transparent;
        font-weight:600;
        color:$col-light-1;
        text-transform:uppercase;
        letter-spacing:1px;
        cursor:default;

        transition:all .2s ease;

        @include respond(992) {
            font-size:1.1rem;
            padding:.2rem 1rem;
        }

        @include respond(768) {
            font-size:.9rem;
            padding:.2rem 1rem;
        }

        @include respond(576) {
            font-size:.8rem;
            padding:.2rem 1rem;
        }
    }

    &__label:hover &__label-text {
        box-shadow:inset 0px 0px 1rem  $col-border-primary;
    }

    &__button {
        display:block;
        margin:$gutter auto;
    }
}